/*Подключение шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*//*--------------------*//*--------------------*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/*Описание секции header*/
.header{
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 0px;
}
.header__body{
    padding: 12px 0 0 0;
}
.header__upperPart{
    padding: 0 0 12px 0;
    box-shadow: 0px 0px 2px #A6A6DA;
}
.header__upperPart::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: #FFFFFF;
    z-index: 3;
    box-shadow: 0px 0px 2px #A6A6DA;
}
.header__upperPart__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}
.header__logo{
    position: relative;
    z-index: 5;
}
.header__logo img{
    max-width: 100%;
}
.header__burger{
    display: none;
}
.upperPart__itemsBox{
    display: flex;
    align-items: center;
    
}
.header__phoneNumber a{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    color: #7F7E83;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header__phoneNumber a:hover{
    color: #5151A8;

}
.header__buttonBox button{
    display: flex;
    align-items: center;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #57B18A;
    padding: 9px 20px 11px 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
    gap: 8px;
    margin: 0 0 0 24px;
}
.header__buttonBox button:hover{
    background: #FAFAFA;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
}
.header__buttonBox button:active{
    background: #57B18A;
    border-radius: 8px;
    color: #FFFFFF;
}


.header__bottomPart__body{

}
.header__menu{

}
.header__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0 11px 0;
}
.header__link{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #7F7E83;
    /* flex: none;
    order: 3;
    flex-grow: 0; */
}
.header__link:hover{
    color: #5151A8;
}
/*Описание секции quickTransfersSec */
.quickTransfersSec{

}
.quickTransfersSec__body{
    padding: 40px 0 0 0 ;
    
}
.quickTransfersSec__backgroundContent{
    margin: 0 0 ;
}
.quickTransfersSec__backgroundContent img{
    max-width: 100%;
}
.quickTransfersSec__titleBox{
    position: relative;
    margin: 34px 0 0 0 ;
}
.quickTransfersSec__titleBox img:nth-child(1){
    position: absolute;
    left: 325px;
    top: 0px;
}
.quickTransfersSec__titleBox img:nth-child(3){
    position: absolute;
    top: 149px;
    
}
.quickTransfersSec__title{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 68px;
    line-height: 82px;
    color: #3F3E42;
    padding: 0 0 0 40px;

}
.quickTransfersSec__menuBox{
    box-shadow: 0px 40px 100px -40px rgba(166, 166, 218, 0.2);
    filter: drop-shadow(0px 0px 2px #BCB6DA);
    position: absolute;
    top: 470px;
    
    

}
.quickTransfersSec__buttonBox{
    display: flex;
    
    
}
.quickTransfersSec__buttonBox button:nth-child(1){
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #7F7E83;
    padding: 16px 36px;
    border-top-left-radius: 16px;
}
.quickTransfersSec__buttonBox button:nth-child(1):focus{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #57B18A;
    padding: 16px 36px;
    background: #FFFFFF;
    border-top-left-radius: 16px;
}
.quickTransfersSec__buttonBox button:nth-child(2){
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #7F7E83;
    padding: 16px 36px;
    border-top-right-radius: 16px;
}
.quickTransfersSec__buttonBox button:nth-child(2):focus{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #57B18A;
    padding: 16px 36px;
    background: #FFFFFF;
    border-top-right-radius: 16px;
}
.quickTransfersSec__bottomMenuBox{
    display: flex;
    
}
.bottomMenu__leftPart{
    padding: 36px;
    background-color: #FFFFFF;
    width: 70%;
    border-bottom-left-radius: 16px;
}
.bottomMenu__leftPart__body{
    
    
}
.bottomMenu__leftPart__body__upperPart{
    display: flex;
    gap: 24px;
}
.bottomMenu__leftPart__body__bottomPart{
    display: flex;
    gap: 24px ;
}
.bottomMenu__leftPart__firstrange{
    width: 360px;
}
.bottomMenu__leftPart__secondrange{
    width: 360px;
}
.firstrange__body{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
}
.secondrange__body{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
}
.firstrange__upperPart{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 0 0 8px;
}
.secondrange__upperPart{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 0 0 8px;
}
.upperPart__textBox{

}
.upperPart__title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;
}
.upperPart__subtitle{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7F7E83;
}
.firstrange__slide{
    width: 100%;
}
.secondrange__slide{
    width: 100%;
}
.first__slider{
    -webkit-appearance: none;  /*Переопределение стилей CSS по умолчанию*/
    appearance: none;
    width: 100%; /* Полная ширина */
    height: 4px; /* Заданная высота */
    background: #6F6FC4;
    border-radius: 3px 3px 0px 0px;
    outline: none; /* Удалить контур */
    opacity: 0.7; /* Установите прозрачность (для эффектов наведения мыши при наведении курсора) */
    -webkit-transition: .2s; /* 0.2 секундный переход при наведении курсора */
    transition: opacity .2s;
}
.first__slider:hover {
    opacity: 1; /* Полностью отображается при наведении курсора мыши */
}
.first__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('/img/purple__slider.png');
    cursor: pointer;
  }

  .second__slider{
    -webkit-appearance: none;  /*Переопределение стилей CSS по умолчанию*/
    appearance: none;
    width: 100%; /* Полная ширина */
    height: 4px; /* Заданная высота */
    background: #FFA27D;
    border-radius: 3px 3px 0px 0px;
    outline: none; /* Удалить контур */
    opacity: 0.7; /* Установите прозрачность (для эффектов наведения мыши при наведении курсора) */
    -webkit-transition: .2s; /* 0.2 секундный переход при наведении курсора */
    transition: opacity .2s;
}
.second__slider:hover {
    opacity: 1; /* Полностью отображается при наведении курсора мыши */
}
.second__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('/img/orange__slider.png');
    cursor: pointer;
  }

  .firstrange__numbers{
      display: flex;
      font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #7F7E83;
    justify-content: space-between;
  }
  .secondrange__numbers{
    display: flex;
    font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #7F7E83;
  justify-content: space-between;
}

.bottomMenu__leftPart__FIOInput{
    width: 360px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
}
.FIOInput__body{
    padding: 8px 16px;
}
.FIOtext{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;
}
.FIOInput{
    width: 224px;
    height: 24px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7F7E83;
}


.bottomMenu__leftPart__PhoneInput{
    width: 360px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
}
.PhoneInput__body{
    padding: 8px 16px;
}
.Phonetext{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;
}
.PhoneInput{
    width: 224px;
    height: 24px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7F7E83;
}
.bottomMenu__rightPart{
    background: #FAFAFA;
    border-bottom-right-radius: 16px;
}
.bottomMenu__rightPart__body{
    padding: 36px 36px 36px 24px;
}
.rightPart__upperPart{
    display: flex;
    gap: 24px;
    padding: 0 0 32px 0;
}
.backToBackBox{

}
.backToBack__title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;
}
.backToBack__mainPrice{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: #3F3E42;
}
.backToBack__mainPrice span{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #7F7E83;
}
.backToBack__subtitle{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #7F7E83;

}
.BidBox{

}
.Bid__title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;
}
.Bid__mainPrice{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: #3F3E42;
}
.Bid__mainPrice span{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #7F7E83;
}
.Bid__subtitle{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #7F7E83;
}
.rightPart__bottomPart{

}
.bottomPart__buttonBox{

}
.bottomPart__buttonBox button{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding: 14px 85.5px 18px 85.5px;
    background: #57B18A;
    box-shadow: 0px 4px 0px #468F6F;
    border-radius: 8px;

/* BG/FFFFFF */

color: #FFFFFF;
}
.bottomPart__buttonBox button:active{
    background: #468F6F;
    border-radius: 8px;
}

@media(max-width:1024px){
    .header__burgerBox{
        padding: 18px 15px;
        background: #FFFFFF;
        box-shadow: 0px 0px 2px #A6A6DA;
        border-radius: 8px;
        margin: 0 0 0 12px;
        position: relative;
        z-index: 5;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 18px;
        height: 12px;
        
    }
    .header__burger span{
        position: absolute;
        background-color: #79C1A1;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 5px;
        transition: 0.3s ease;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #79C1A1;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 0.3s ease;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 5px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 5px;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        padding: 112px 0 0 0 ;
        transition: 0.3s ease;

    }
    .header__menu.active{
        top: 0%;
    }
    .header__list{
        display: block;
    }
    .header__list li{
        padding: 0 0 20px 0;
    }
    .bottomMenu__leftPart__firstrange{
        width: 300px;
    }
    .bottomMenu__leftPart__secondrange{
        width: 300px;
    }
    .bottomMenu__leftPart__FIOInput{
        width: 300px;
    }
    .bottomMenu__leftPart__PhoneInput{
        width: 300px;
    }
    .bottomMenu__rightPart{
        
    }
    .bottomMenu__leftPart{
        width: 65%;
    }
    .quickTransfersSec__menuBox{
        top: 360px;
        z-index: 1;
        position: absolute;
    }
    .bottomPart__buttonBox button{
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        padding: 14px 57.5px 18px 57.5px;
        background: #57B18A;
        box-shadow: 0px 4px 0px #468F6F;
        border-radius: 8px;
    
    /* BG/FFFFFF */
    
    color: #FFFFFF;
    }
    .bottomPart__buttonBox button:active{
        background: #468F6F;
        border-radius: 8px;
    }
}
@media(max-width:768px){
    .header__phoneNumber{
        font-size: 16px;
    }
}