/*Подключение шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*//*--------------------*//*--------------------*/
.wrapper{
    position: relative;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
/*Описание секции header*/
.header{
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 0px;
}
.header__body{
    padding: 12px 0 0 0;
}
.header__upperPart{
    padding: 0 0 12px 0;
    box-shadow: 0px 0px 2px #A6A6DA;
}
.header__upperPart::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: #FFFFFF;
    z-index: 5;
    box-shadow: 0px 0px 2px #A6A6DA;
}
.header__upperPart__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}
.header__logo{
    position: relative;
    z-index: 5;
}
.header__logo img{
    max-width: 100%;
}
.header__burger{
    display: none;
}
.upperPart__itemsBox{
    display: flex;
    align-items: center;
    
}
.header__phoneNumber a{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    color: #7F7E83;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header__phoneNumber a:hover{
    color: #5151A8;

}
.header__buttonBox button{
    display: flex;
    align-items: center;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #57B18A;
    padding: 9px 20px 11px 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
    gap: 8px;
    margin: 0 0 0 24px;
}
.header__buttonBox button:hover{
    background: #FAFAFA;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
}
.header__buttonBox button:active{
    background: #57B18A;
    border-radius: 8px;
    color: #FFFFFF;
}


.header__bottomPart__body{

}
.header__menu{

}
.header__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0 11px 0;
}
.header__link{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #7F7E83;
    /* flex: none;
    order: 3;
    flex-grow: 0; */
}
.header__link:hover{
    color: #5151A8;
}
/*Описание секции quickTransfersSec */
.quickTransfersSec{
    margin: 40px 0 0 0;
}


.specialOfferSec{
    margin: 100px 0 0 0 ;
}
.quickTransfersSec__body{

}
.quickTransfersSec__upperPart{
    display: flex;
    gap: 150px;
}
.quickTransfersSec__upperPart__left{

}
.quickTransfersSec__titleBox{
    padding: 36px 0 0 0 ;
    position: relative;
}
.quickTransfersSec__title{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 82px;
    color: #3F3E42;
    position: relative;
    z-index: 2;
    padding: 0 0 0 36px;
}
.quickTransfersSec__titleBox img:nth-child(2){
    position: absolute;
    top: 90px;
    left: 31px;
    z-index: 1;
}
.quickTransfersSec__titleBox img:nth-child(3){
    position: absolute;
    top: 40px;
    left: 314px;
}
.quickTransfersSec__titleBox img:nth-child(4){
    position: absolute;
    top:188px;
    left:0;
}
.quickTransfersSec__upperPart__right{

}
.quickTransfersSec__upperPart__right img{
    max-width: 100%;
}
.quickTransfersSec__bottomPart{
    box-shadow: 0px 40px 100px -40px rgba(166, 166, 218, 0.2);
    filter: drop-shadow(0px 0px 2px #BCB6DA);
    border-radius: 16px;
    
    margin-top:-160px ;
    
}
.quickTransfersSec__bottomPart__up{

}
.up__buttonBox{
    display: flex;
    box-shadow: 0px 40px 100px -40px rgba(166, 166, 218, 0.2);
    filter: drop-shadow(0px 0px 2px #BCB6DA);
}
.up__buttonBox button{
    background: #F9F8FE;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #7F7E83;
    padding: 16px 36px;
}
.up__buttonBox button:nth-child(1){
    border-top-left-radius: 16px;
    
}
.up__buttonBox button:nth-child(1):focus{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #57B18A;
    background: #FFFFFF;
    
}
.up__buttonBox button:nth-child(2){
    border-top-right-radius: 16px;
}
.up__buttonBox button:nth-child(2):focus{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #57B18A;
    background: #FFFFFF;
}
.quickTransfersSec__bottomPart__down{

}
.quickTransfersSec__bottomPart__down__menuBox{
    /* padding: 36px; */
    display: flex;
    
    
   
}
.bottomPart__down__menuBox__body{
    
    display: flex;
    
}
.menuBox__leftPart{
    background: #FFFFFF;
    padding: 36px 24px 36px 36px;
    border-bottom-left-radius: 16px;
    
    
    
}
.leftPart__up{
    
    display: flex;
    gap: 24px;
    padding: 0 0 28px 0px;
    
    
}
.firstRangeBox{
    max-width: 360px;
}
.firstRange{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
    
}
.firstRange__upperPart{
    
    
    
}
.firstRange__upperPart__body{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0 8px 16px;
}
.firstRange__textBox{
    
}
.firstRange__title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;
}
.firstRange__creditMoney{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7F7E83;
}
.firstRange__bottomPart{
    width: 100%; /* Width of the outside container */
}
.firstRange__bottomPart input{
    margin: 0;
}
.slider1 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 4px; /* Specified height */
    background: #6F6FC4;
    border-radius: 3px 3px 0px 0px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider1:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('/img/purple__slider.png');
    cursor: pointer;
}

.slider1::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('/img/purple__slider.png');
    cursor: pointer;
}
.firstRange__limitBox{
    display: flex;
    justify-content: space-between;
    padding: 4px 0 0 0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #7F7E83; 
}
.firstRangeBox{
    width: 360px;
}
.firstRange{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
    max-width: 360px;
}
.firstRange__upperPart{
    
}
.firstRange__upperPart__body{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0 8px 16px;
}
.firstRange__textBox{
    
}
.firstRange__title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;
}
.firstRange__creditMoney{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7F7E83;
}
.firstRange__bottomPart{
    width: 100%; /* Width of the outside container */
}
.firstRange__bottomPart input{
    margin: 0;
}
.slider1 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 4px; /* Specified height */
    background: #6F6FC4;
    border-radius: 3px 3px 0px 0px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider1:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('/img/purple__slider.png');
    cursor: pointer;
}

.slider1::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('/img/purple__slider.png');
    cursor: pointer;
}
.firstRange__limitBox{
    display: flex;
    justify-content: space-between;
    padding: 4px 0 0 0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #7F7E83;
}

.secondRangeBox{
    width: 360px;
}
.secondRange{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
    width: 100%;
}
.secondRange__upperPart{
    
    
    
}
.secondRange__upperPart__body{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0 8px 16px;
}
.secondRange__textBox{
    width: 100%;
}
.secondRange__title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;
}
.secondRange__creditMoney{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7F7E83;
}
.secondRange__bottomPart{
    width: 100%; /* Width of the outside container */
}
.secondRange__bottomPart input{
    margin: 0;
}
.slider1 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 4px; /* Specified height */
    background: #6F6FC4;
    border-radius: 3px 3px 0px 0px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider1:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('/img/purple__slider.png');
    cursor: pointer;
}

.slider1::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('/img/purple__slider.png');
    cursor: pointer;
}

.slider2 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 4px; /* Specified height */
    background: #FFA27D;
    border-radius: 3px 3px 0px 0px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider2:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 0;
    background: url('/img/orange__slider.png');
    cursor: pointer;
}

.slider2::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('/img/orange__slider.png');
    cursor: pointer;
}

.secondRange__limitBox{
    display: flex;
    justify-content: space-between;
    padding: 4px 0 0 0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #7F7E83;
}   
/*Описание секции specialOfferSec */
.specialOfferSec__title{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #3F3E42;
    padding: 0 0 32px 0;
}
.specialOfferSec__cardBox{

}
.cardBox__upperPart{
    display: flex;
    justify-content: space-between;
}
.specialOfferSec__card{
    width: 360px;
    height: 280px;
    background: #FFF2CB;
    border-radius: 16px;
}
.specialOfferSec__card:nth-child(2){
    background: #DDEFE8;
}
.specialOfferSec__card:nth-child(3){
    background: #FFECE5;
}
.card__body{
    padding: 24px 24px 0 24px;
}
.specialOfferSec__card__title_1,
.specialOfferSec__card__title_2,
.specialOfferSec__card__title_3{
    text-align: center;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #3F3E42;
    margin: 0 0 12px 0;
}

.cardBox__bottomPart{
    margin: 24px 0 0 0 ;
    
    background: url(/img/adBannerImg.png) right no-repeat;
    background-color:  #E6E6FC;
    /* background-repeat: no-repeat;
    background-position: right; */
    

    border-radius: 16px;
}
.bottomPart__body{
    padding: 52px 0 56px 96px;
}
.cardBox__bottomPart__title{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #3F3E42;
}
.cardBox__bottomPart__text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #57585F;
    padding: 0 0 32px 0;
}
.cardBox__bottomPart__buttonBox button{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #57B18A;
    box-shadow: 0px 4px 0px #468F6F;
    border-radius: 8px;
    padding: 7px 24px 9px 24px;

}
.cardBox__bottomPart__buttonBox button:active{
    background: #468F6F;
}


.leftPart__down{
    display: flex;
    gap: 24px;
}
.firstInputBox{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
    width: 360px;
}
.firstInput{

}
.firstInput__body{
    padding: 8px 16px;
}
.firstInputTitle{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;
}
.firstInput__body input{
    width: 100%;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7F7E83;
}
.firstInput__body input::placeholder{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7F7E83;
}



.secondInputBox{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
    width: 360px;
}
.firstInput{

}
.secondInput__body{
    padding: 8px 16px;
}
.secondInputTitle{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;
}
.secondInput__body input{
    width: 100%;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7F7E83;
}
.secondInput__body input::placeholder{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7F7E83;
}

.menuBox__rightPart{
    background: #FAFAFA;
    border-radius: 0px 16px 16px 0px;
}
.menuBox__rightPart__body{
    padding: 36px 36px 36px 24px;
}
.menuBox__rightPart__upperPart{
    display: flex;
    width: 100%;
    gap: 24px;
    
}
.toReturn{

}
.toReturn__title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;

}
.toReturn__num{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: #3F3E42;
}
.toReturn__num span{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #7F7E83;
}
.toReturn__subtitle{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #7F7E83;
}
.Bid{

}
.Bid__title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;
}
.Bid__num{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: #3F3E42;
}
.Bid__num span{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #7F7E83;
}
.Bid__subtitle{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #7F7E83;
}

.menuBox__rightPart__bottomPart{
    padding: 32px 0 0 0 ;
}
.menuBox__rightPart__buttonBox button{
    background: #57B18A;
    box-shadow: 0px 4px 0px #468F6F;
    border-radius: 8px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding:14px 85.5px 18px 85.5px ;
}


/*Описание секции howItWorkSec*/
.howItWorkSec{
    margin: 100px 0 0 0 ;
}
.howItWorkSec__body{

}
.howItWorkSec__title{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #3F3E42;
    padding: 0 0 32px 0;
}
.howItWorkSec__cardBox{
    display: flex;
    justify-content: space-between;
}
.howItWorkSec__card{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 16px;
    width: 360px;
}
.howItWorkSec__cardBody{
    padding: 24px;
}
.cardBody__up{
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px 0;
}
.cardNum1{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: #6F6FC4;
    display: flex;
    
}
.cardNum2{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: #57B18A;
    display: flex;
}
.cardNum3{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: #FFA27D;

    display: flex;
}
.cardBody__title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #3F3E42;
    padding: 0 0 20px 0;
}
.cardBody__button button{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #57B18A;
    padding: 10px 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
}
.ConsultationSec{
    margin: 100px 0 0 0 ;
    background-image: url(/img/ConsultationSec__bg.png);
}
.ConsultationSec__body{
    padding: 70px 0 78px 0 ;
}
.ConsultationSec__title{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #3F3E42;
    padding: 0 0 20px 0;
}
.ConsultationSec__text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #57585F;
}
/*Описание секции BenefitsSec*/
.BenefitsSec{
    margin: 100px 0 100px 0 ;
    
}
.Benefits__body{

}
.Benefits__title{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #3F3E42;
    padding: 0 0 32px 36px ;
}
.Benefits__body__upperPart{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 16px;
}
.Benefits__body__upperPart__cardBox{
    padding: 36px 60px 36px 36px;
    display: flex;
}
.upperPart__cardBox__card:nth-child(4){
    border: none;
}
.upperPart__cardBox__card{
    margin: 0 24px 0 0 ;
    border-right: 1px solid #E5E5F4;
}
.card__text1{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #3F3E42;
    width: 240px;
    padding: 24px 23px 0 0 ;
}
.card__text2{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #3F3E42;
    width: 240px;
    padding: 52px 0px 0 0 ;
}
.Benefits__body__bottomPart{
    margin: 24px 0 0 0 ;
    background: url(/img/Benefits__bg.png) no-repeat;
}
.Benefits__body__bottomPart__body{
    padding: 52px 0;
}
.Benefits__body__bottomPart__title{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: #5151A8;
    padding: 0 0 42px 0;
    
}
.Benefits__body__bottomPart__counterBox{
    width: 357px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.Benefits__body__bottomPart__counterBox span{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 82px;
    color: #57B18A;
    padding: 4px 12px;
    
}
.Benefits__body__bottomPart__subtitle{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #5151A8;
    padding: 24px 0 0 0;
}
.Benefits__body__bottomPart__counterBox p{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 4px;
}
/*Описание секции ReviewsSec*/
.ReviewsSec{

}
.ReviewsSec__body{

}
.ReviewsSec__upperPart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ReviewsSec__title{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #3F3E42;
}
.ReviewsSec__buttonsBox{
    display: flex;
    gap:16px;
}
.ReviewsSec__leftBtn{
    background: #57B18A;
    /* PD Flat */
    box-shadow: 0px 4px 0px #468F6F;
    border-radius: 8px;
}
.ReviewsSec__leftBtn img{
    padding: 8px 12px;
}
.ReviewsSec__rightBtn{
    background: #57B18A;
    /* PD Flat */
    box-shadow: 0px 4px 0px #468F6F;
    border-radius: 8px;
}
.ReviewsSec__rightBtn img{
    padding: 8px 12px;
}
.ReviewsSec__leftBtn:active{
    background: #468F6F;
    border-radius: 8px;
}
.ReviewsSec__rightBtn:active{
    background: #468F6F;
    border-radius: 8px;
}
.ReviewsSec__bottomPart{

}
.ReviewsSec__slider{
    display: flex;
    gap: 16px;
}
.Reviews__sliderCard{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 16px;
    width: 360px;
}
.slider__card__body{
    width: 312px;
    padding: 24px;
}
.slider__card__title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #3F3E42;
    padding: 0 0 12px 0;
}
.slider__card__title__text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #57585F;
    padding: 0 0 20px 0;

}
.slider__card__date{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #7F7E83;
}
.Reviews__buttonBox{
    
}
.Reviews__upperPart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Reviews__title{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #3F3E42;
}

.Reviews__button-prev{
    background: #57B18A;
    box-shadow: 0px 4px 0px #468F6F;
    border-radius: 8px;
    padding: 8px 12px;
}
.Reviews__button-next{
    background: #57B18A;
    box-shadow: 0px 4px 0px #468F6F;
    border-radius: 8px;
    padding: 8px 12px;
}
/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slider {
	position: relative;
	display: flex;
    
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.slider__item {
	/* padding: 0px 15px; */
}
.slider__item img{
	max-width: 100%;
}
.slider__item.slick-center{
	
}

.Reviews__sliderCard{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 16px;
    width: 360px;
}
.Reviews__sliderCard__body{
    padding: 24px;
    width: 312px;
    margin: 0;
}
.Reviews__sliderCard__title{
    font-size: 20px;
    line-height: 28px;
    color: #3F3E42;
}
.slick-slide{
    width: 360px;
}  
.Reviews__sliderCard .slider__item{
    width: 360px;
}























@media(max-width:1024px){
    .header__burgerBox{
        padding: 18px 15px;
        background: #FFFFFF;
        box-shadow: 0px 0px 2px #A6A6DA;
        border-radius: 8px;
        margin: 0 0 0 12px;
        position: relative;
        z-index: 5;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 18px;
        height: 12px;
        
    }
    .header__burger span{
        position: absolute;
        background-color: #79C1A1;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 5px;
        transition: 0.3s ease;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #79C1A1;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 0.3s ease;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 5px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 5px;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        padding: 112px 0 0 0 ;
        transition: 0.3s ease;
        z-index: 4;

    }
    .header__menu.active{
        top: 0%;
    }
    .header__list{
        display: block;
    }
    .header__list li{
        padding: 0 0 20px 0;
    }
    .firstRangeBox{
        width: 300px;
    }
    .secondRangeBox{
        width: 300px;
    }
    .firstInputBox{
        width: 300px;
    }
    .secondInputBox{
        max-width: 300px;
    }
    .menuBox__rightPart__upperPart{
        gap: 20px;
    }
    .quickTransfersSec__bottomPart{
        width: 940px;
    }
    .specialOfferSec__card{
        width: 300px;
    }
    .specialOfferSec__card__img img{
        width: 260px;
        
    }
    .specialOfferSec__card__title_1{
        margin: 0 0 44px 0;
    }
    .howItWorkSec__card{
        width: 300px;
    }

@media(max-width:768px){
    .header__phoneNumber{
        font-size: 16px;
    }
    .quickTransfersSec__bottomPart{
        width: 768px;
    }
}