/*Подключение шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*//*--------------------*//*--------------------*/
.container{
    max-width: 1220px;
    margin: 0 auto;
}
/*Описание секции header*/
.header{
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 0px;
}
.header__body{
    padding: 12px 0 0 0;
}
.header__upperPart{
    padding: 0 0 12px 0;
    box-shadow: 0px 0px 2px #A6A6DA;
}
.header__upperPart::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: #FFFFFF;
    z-index: 5;
    box-shadow: 0px 0px 2px #A6A6DA;
}
.header__upperPart__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}
.header__logo{
    position: relative;
    z-index: 5;
}
.header__logo img{
    max-width: 100%;
}
.header__burger{
    display: none;
}
.upperPart__itemsBox{
    display: flex;
    align-items: center;
    
}
.header__phoneNumber a{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    color: #7F7E83;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header__phoneNumber a:hover{
    color: #5151A8;

}
.header__buttonBox button{
    display: flex;
    align-items: center;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #57B18A;
    padding: 9px 20px 11px 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
    gap: 8px;
    margin: 0 0 0 24px;
}
.header__buttonBox button:hover{
    background: #FAFAFA;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
}
.header__buttonBox button:active{
    background: #57B18A;
    border-radius: 8px;
    color: #FFFFFF;
}


.header__bottomPart__body{

}
.header__menu{

}
.header__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0 11px 0;
}
.header__link{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #7F7E83;
    /* flex: none;
    order: 3;
    flex-grow: 0; */
}
.header__link:hover{
    color: #5151A8;
}
/*Описание секции quickTransfersSec */
.quickTransfersSec{
    margin: 40px 0 0 0;
}


.specialOfferSec{
    margin: 260px 0 0 0 ;
}
.quickTransfersSec__body{

}
.quickTransfersSec__upperPart{
    display: flex;
    gap: 150px;
}
.quickTransfersSec__upperPart__left{

}
.quickTransfersSec__titleBox{
    padding: 36px 0 0 0 ;
    position: relative;
}
.quickTransfersSec__title{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 68px;
    line-height: 82px;
    color: #3F3E42;
    position: relative;
    z-index: 2;
    padding: 0 0 0 36px;
}
.quickTransfersSec__titleBox img:nth-child(2){
    position: absolute;
    top: 90px;
    left: 31px;
    z-index: 1;
}
.quickTransfersSec__titleBox img:nth-child(3){
    position: absolute;
    top: 40px;
    left: 314px;
}
.quickTransfersSec__titleBox img:nth-child(4){
    position: absolute;
    top:188px;
    left:0;
}
.quickTransfersSec__upperPart__right{

}
.quickTransfersSec__upperPart__right img{
    max-width: 100%;
}
.quickTransfersSec__bottomPart{

}
.quickTransfersSec__bottomPart__up{

}
.up__buttonBox{
    display: flex;
    box-shadow: 0px 40px 100px -40px rgba(166, 166, 218, 0.2);
    filter: drop-shadow(0px 0px 2px #BCB6DA);
}
.up__buttonBox button{
    background: #F9F8FE;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #7F7E83;
    padding: 16px 36px;
}
.up__buttonBox button:nth-child(1){
    border-top-left-radius: 16px;
    
}
.up__buttonBox button:nth-child(1):focus{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #57B18A;
    background: #FFFFFF;
    
}
.up__buttonBox button:nth-child(2){
    border-top-right-radius: 16px;
}
.up__buttonBox button:nth-child(2):focus{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #57B18A;
    background: #FFFFFF;
}
.quickTransfersSec__bottomPart__down{

}
.quickTransfersSec__bottomPart__down__menuBox{
    padding: 36px;
}
.menuBox__leftPart{

}
.firstRangeBox{
    max-width: 360px;
}
.firstRange{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
    max-width: 360px;
}
.firstRange__upperPart{
    
    
    
}
.firstRange__upperPart__body{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0 8px 16px;
}
.firstRange__textBox{
    
}
.firstRange__title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;
}
.firstRange__creditMoney{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7F7E83;
}
.firstRange__bottomPart{
    width: 100%; /* Width of the outside container */
}
.firstRange__bottomPart input{
    margin: 0;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 4px; /* Specified height */
    background: #6F6FC4;
    border-radius: 3px 3px 0px 0px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('/img/purple__slider.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('/img/purple__slider.png');
    cursor: pointer;
}
.firstRange__limitBox{
    display: flex;
    justify-content: space-between;
    padding: 4px 0 0 0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #7F7E83;








    .firstRangeBox{
    max-width: 360px;
}
.firstRange{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
    max-width: 360px;
}
.firstRange__upperPart{
    
    
    
}
.firstRange__upperPart__body{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0 8px 16px;
}
.firstRange__textBox{
    
}
.firstRange__title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;
}
.firstRange__creditMoney{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7F7E83;
}
.firstRange__bottomPart{
    width: 100%; /* Width of the outside container */
}
.firstRange__bottomPart input{
    margin: 0;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 4px; /* Specified height */
    background: #6F6FC4;
    border-radius: 3px 3px 0px 0px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('/img/purple__slider.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('/img/purple__slider.png');
    cursor: pointer;
}
.firstRange__limitBox{
    display: flex;
    justify-content: space-between;
    padding: 4px 0 0 0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #7F7E83;
}






.secondRangeBox{
    max-width: 360px;
}
.secondRange{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px #A6A6DA;
    border-radius: 8px;
    max-width: 360px;
}
.secondRange__upperPart{
    
    
    
}
.secondRange__upperPart__body{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0 8px 16px;
}
.secondRange__textBox{
    
}
.secondRange__title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3F3E42;
}
.secondRange__creditMoney{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7F7E83;
}
.secondRange__bottomPart{
    width: 100%; /* Width of the outside container */
}
.secondRange__bottomPart input{
    margin: 0;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 4px; /* Specified height */
    background: #6F6FC4;
    border-radius: 3px 3px 0px 0px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('/img/purple__slider.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('/img/purple__slider.png');
    cursor: pointer;
}
.secondRange__limitBox{
    display: flex;
    justify-content: space-between;
    padding: 4px 0 0 0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #7F7E83;


















/*Описание секции specialOfferSec */
.specialOfferSec__title{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #3F3E42;
    padding: 0 0 32px 0;
}
.specialOfferSec__cardBox{

}
.cardBox__upperPart{
    display: flex;
    justify-content: space-between;
}
.specialOfferSec__card{
    width: 360px;
    height: 280px;
    background: #FFF2CB;
    border-radius: 16px;
}
.specialOfferSec__card:nth-child(2){
    background: #DDEFE8;
}
.specialOfferSec__card:nth-child(3){
    background: #FFECE5;
}
.card__body{
    padding: 24px 24px 0 24px;
}
.specialOfferSec__card__title{
    text-align: center;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #3F3E42;
    margin: 0 0 12px 0;
}
.cardBox__bottomPart{
    margin: 24px 0 0 0 ;
    
    background: url(/img/adBannerImg.png) right no-repeat;
    background-color:  #E6E6FC;
    /* background-repeat: no-repeat;
    background-position: right; */
    

    border-radius: 16px;
}
.bottomPart__body{
    padding: 52px 0 56px 96px;
}
.cardBox__bottomPart__title{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #3F3E42;
}
.cardBox__bottomPart__text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #57585F;
    padding: 0 0 32px 0;
}
.cardBox__bottomPart__buttonBox button{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: #57B18A;
    box-shadow: 0px 4px 0px #468F6F;
    border-radius: 8px;
    padding: 7px 24px 9px 24px;

}
.cardBox__bottomPart__buttonBox button:active{
    background: #468F6F;
}

@media(max-width:1024px){
    .header__burgerBox{
        padding: 18px 15px;
        background: #FFFFFF;
        box-shadow: 0px 0px 2px #A6A6DA;
        border-radius: 8px;
        margin: 0 0 0 12px;
        position: relative;
        z-index: 5;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 18px;
        height: 12px;
        
    }
    .header__burger span{
        position: absolute;
        background-color: #79C1A1;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 5px;
        transition: 0.3s ease;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #79C1A1;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 0.3s ease;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 5px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 5px;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        padding: 112px 0 0 0 ;
        transition: 0.3s ease;
        z-index: 4;

    }
    .header__menu.active{
        top: 0%;
    }
    .header__list{
        display: block;
    }
    .header__list li{
        padding: 0 0 20px 0;
    }
    
}
@media(max-width:768px){
    .header__phoneNumber{
        font-size: 16px;
    }
}